In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection = 'mysql://root:@Bk022115470@localhost/db'

In [3]:
table = pd.read_sql('show tables', connection)

In [72]:
table

                 Tables_in_db
0                  w_activity
1                   w_article
2             w_bookmark_item
3       w_bookmark_item_label
4            w_bookmark_label
5          w_business_gallery
6            w_business_photo
7                  w_category
8                     w_chain
9            w_chain_category
10         w_chain_menu_group
11    w_chain_menu_group_item
12          w_chain_menu_item
13    w_checkin_activity_data
14           w_credit_history
15                   w_follow
16               w_menu_group
17          w_menu_group_item
18                w_menu_item
19                    w_photo
20            w_photo_gallery
21           w_photo_location
22            w_photo_product
23                  w_product
24                   w_rating
25     w_rating_activity_data
26                      w_ref
27                   w_region
28               w_restaurant
29       w_restaurant_alcohol
30      w_restaurant_category
31  w_restaurant_checkin_user
32  w_restaurant_neighborhood
33                   w_review
34             w_review_board
35      w_review_board_rating
36      w_review_board_review
37           w_review_comment
38         w_review_menu_item
39    w_review_official_reply
40           w_review_product
41            w_review_report
42          w_review_revision
43          w_review_suitable
44              w_review_vote
45                     w_user
46             w_working_hour

In [59]:
# Make a restaurant table containing its region and name

In [6]:
restaurant = pd.read_sql('select * from w_restaurant', connection)

In [17]:
restaurant.head()

,id,name,region_id,latitude,longitude,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,tmp_cdc_trigger,qr_code_accepted,premium,portrait_mode,portrait_mode_cover_photo_id,truemoney_wallet,likely_incorrect_business_location,gross_profit_enabled,gross_profit_deduction_ratio,gid
0,2,บ้านกลมกิ๊ก,46,13.739125,100.550231,3.0,1.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRLZBFIqLcDKjloifpkKcEHg'
1,3,โรงเบียร์เยอรมันตะวันแดง,132,13.842320,100.634959,3.0,3.0,1.0,1.0,0.0,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGQeqBPBEeI0J6Jm04G6Mqm'
2,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGC6ocPnSwVETjE2XZhvda9'
3,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB'
4,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r'

In [39]:
restaurant_neighborhood = pd.read_sql('select * from w_restaurant_neighborhood', connection)

In [28]:
restaurant_neighborhood.head()

   restaurant_id  neighborhood_id
0              4              224
1              5              233
2              5            54025
3              6              264
4              6            50694

In [49]:
restaurant = pd.merge(restaurant, restaurant_neighborhood, left_on='id', right_on='restaurant_id')

In [50]:
restaurant.head()

,id,name,region_id,latitude,longitude,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,premium,portrait_mode,portrait_mode_cover_photo_id,truemoney_wallet,likely_incorrect_business_location,gross_profit_enabled,gross_profit_deduction_ratio,gid,restaurant_id,neighborhood_id
0,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGC6ocPnSwVETjE2XZhvda9',4,224
1,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB',5,233
2,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB',5,54025
3,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r',6,264
4,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r',6,50694

In [15]:
region = pd.read_sql('select * from w_region', connection)

In [51]:
region.head()

,id,name,latitude,longitude,number_of_businesses,parent_id,region_type,outdated,target_view_group,view_group_id,...,sponsored_logo_id,geohash,home_featured,time_zone_id,number_of_hotels,number_of_attractions,public_transport,currency_symbol,currency_iso,home_selectable
0,1,Bangkok,13.756331,100.501765,90610,8525.0,20,0,9681.0,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1086,1214,None,฿,THB,b'\x01'
1,2,Phra Nakhon,13.756024,100.498679,1975,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,81,118,None,฿,THB,b'\x00'
2,3,Phra Borom Maha Ratchawang,13.750548,100.493056,247,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,31,None,฿,THB,b'\x00'
3,4,Wang Burapha Phirom,13.745960,100.500085,331,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,3,16,None,฿,THB,b'\x00'
4,5,Wat Ratchabophit,13.749563,100.499382,71,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1,2,None,฿,THB,b'\x00'

In [52]:
restaurant = pd.merge(restaurant, region, left_on='neighborhood_id', right_on='id')

In [84]:
restaurant.head()

,id_x,name_x,region_id,latitude_x,longitude_x,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,sponsored_logo_id,geohash,home_featured,time_zone_id,number_of_hotels,number_of_attractions,public_transport,currency_symbol,currency_iso,home_selectable
0,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
1,33,ลูกไก่ทอง,180,13.733540,100.580945,2.0,3.0,1.0,1.0,1.0,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
2,34,บุญตงเกียรติ ข้าวมันไก่สิงคโปร์,180,13.734024,100.582718,2.0,0.0,0.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
3,43,A Garden Cafe and Restaurant,180,13.729987,100.576808,5.0,3.0,1.0,1.0,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
4,47,All Senses,180,13.729964,100.577023,3.0,3.0,1.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'

In [64]:
user = pd.read_sql('select * from w_user', connection)

In [65]:
androidbool = (user['number_of_android_photos'] > 5) | (user['number_of_android_reviews'] > 5)
iphonebool = (user['number_of_iphone_photos'] > 5) | (user['number_of_iphone_reviews'] > 5)
android = user[androidbool]
iphone = user[iphonebool]
both = user[iphonebool & androidbool]

In [68]:
android.head()

,id,total_rating,total_number_of_reviews,one,two,three,four,five,number_of_likes,photo_number_of_likes,...,number_of_been_here,number_of_unread_challenge,verified_time,number_of_userschoice_review,total_number_of_sponsored_reviews,email_2,no_rating,gid,notify_contribution,notify_p_contribution
1,2,1310,294,1,14,130,181,17,3472,12461,...,8,0,2016-07-21,23,0,suparit@wongnai.com,0,b'09XiPECYIVzOCNSQmo8DGAxiNr6b9i',b'\x01',b'\x01'
2,3,989,228,1,2,66,125,44,1340,3547,...,18,0,2016-07-21,11,0,worawee.s@wongnai.com,0,b'09XiPECYHnLOdjEvXWWumLjuxE99xI',b'\x01',b'\x01'
4,5,723,189,1,5,67,106,15,713,1955,...,9,0,NaT,6,0,anontawong@wongnai.com,0,b'09XiPECYEJS3ErzZwJ0ILPXXexFAGQ',b'\x01',b'\x01'
13,14,4431,935,4,49,383,650,92,22551,149148,...,47,0,2016-07-21,88,0,pattrawoots@wongnai.com,0,b'09XiPECYDtDw5NUth32nUmLH7RV5iy',b'\x01',b'\x01'
47,48,0,0,0,0,0,0,0,0,63,...,0,0,NaT,0,0,ngubuz@gmail.com,0,b'09XiPECYEmdxtJ2WeOhwnnQDX6vTwD',b'\x01',b'\x01'

In [69]:
checkin = pd.read_sql('select * from w_restaurant_checkin_user', connection)

In [73]:
checkin.head()

,restaurant_id,user_id,latest_activity_id,latest_time,checkins,opt_lock,checkin_type
0,2,26544,33318631.0,2015-09-19 14:03:00,1,1,1
1,2,50372,41829663.0,2016-04-21 20:07:27,2,2,1
2,2,59911,21749871.0,2015-01-18 11:19:13,1,1,1
3,2,63048,20240965.0,2014-12-14 18:25:11,1,1,1
4,2,117819,19727053.0,2014-12-04 12:21:03,1,1,1

In [77]:
#merge android and checkin
android = pd.merge(android, checkin, left_on='id', right_on='user_id')
iphone = pd.merge(iphone, checkin, left_on='id', right_on='user_id')

In [101]:
android.sort_values('restaurant_id').head()

,id,total_rating,total_number_of_reviews,one,two,three,four,five,number_of_likes,photo_number_of_likes,...,gid,notify_contribution,notify_p_contribution,restaurant_id,user_id,latest_activity_id,latest_time,checkins,opt_lock_y,checkin_type
219633,2199316,6497,1751,5,120,687,675,296,32202,318682,...,None,b'\x01',b'\x01',2,2199316,60577681.0,2017-07-06 16:53:55,1,1,1
219544,2182656,95,24,0,2,4,11,7,12,42,...,None,b'\x01',b'\x01',2,2182656,42931174.0,2016-05-16 13:32:02,1,1,1
42500,117819,7135,1853,2,12,514,1088,239,63357,273205,...,b'09XiPECYMfMKbJKC0vK3qrQuGxrua2',b'\x01',b'\x01',2,117819,19727053.0,2014-12-04 12:21:03,1,1,1
75330,295561,2003,519,1,30,215,237,37,3230,9998,...,b'09XiPECYScCDcavMAbZRxd7XTMrkFA',b'\x01',b'\x01',2,295561,44173837.0,2016-06-10 12:23:04,1,1,1
169167,1119779,247,59,2,3,13,35,12,155,314,...,None,b'\x01',b'\x01',2,1119779,14421913.0,2014-08-13 12:18:44,1,1,1

In [143]:
android_restaurant = restaurant[restaurant['id_x'].isin(android['restaurant_id'])]

In [151]:
iphone_restaurant = restaurant[restaurant['id_x'].isin(iphone['restaurant_id'])]

In [152]:
android_restaurant['region_id']

0           180
1           180
2           180
8           180
10          180
12          180
13          180
15          180
16          180
23          180
24        12938
28          180
30          180
33          180
34        12938
37          179
39          180
42          180
44          180
47          180
49          180
50          180
53          180
56        15567
57          180
58        11239
60          180
62          180
65          180
69          180
          ...
156434    16502
156437    16502
156439    16502
156447    16502
156451    16502
156453    16502
156458    16502
156459    16502
156463    16502
156464    16502
156467    16502
156468    16502
156471    16502
156480    16502
156482    16502
156485    16502
156486    16502
156488    16502
156499    16502
156500    16502
156505    16502
156506    16502
156507    16502
156510    16502
156513    16502
156579     4347
156587     4347
156598     4347
156599     4347
156604     4347
Name: region_id, Length: 42275, dtype: int64

In [148]:
android_region = region[region['id'].isin(android_restaurant['region_id'])]

In [176]:
android_region_freq = android_restaurant.groupby('region_id').size().reset_index()

In [177]:
android_region_freq

     region_id    0
0            1  194
1            2    1
2            3   51
3            4   80
4            5   24
5            6   23
6            7   50
7            8   70
8            9    6
9           10   25
10          11   52
11          12   24
12          13   67
13          14   63
14          15    1
15          16    9
16          17   14
17          19    6
18          20  116
19          31   38
20          32  720
21          33  271
22          34  131
23          35   20
24          37  289
25          38  198
26          39    1
27          40  130
28          41  291
29          43   40
..         ...  ...
895      51041    1
896      51293   28
897      52101   12
898      52444    4
899      52507    3
900      52527    5
901      52692   26
902      52700    7
903      53274    8
904      53327   28
905      53484    2
906      53657    6
907      54578    7
908      54673   34
909      55098   10
910      55116   26
911      55119    3
912      55629    7
913      55691    4
914      55700   35
915      55706    1
916      55709    1
917      55838    2
918      55844  220
919      55854    3
920      55956   66
921      55959   15
922      55962   19
923      55966    2
924      55975    5

[925 rows x 2 columns]

In [150]:
iphone_region = region[region['id'].isin(android_restaurant['region_id'])]

In [149]:
android_region

,id,name,latitude,longitude,number_of_businesses,parent_id,region_type,outdated,target_view_group,view_group_id,...,sponsored_logo_id,geohash,home_featured,time_zone_id,number_of_hotels,number_of_attractions,public_transport,currency_symbol,currency_iso,home_selectable
0,1,Bangkok,13.756331,100.501765,90610,8525.0,20,0,9681.0,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1086,1214,None,฿,THB,b'\x01'
1,2,Phra Nakhon,13.756024,100.498679,1975,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,81,118,None,฿,THB,b'\x00'
2,3,Phra Borom Maha Ratchawang,13.750548,100.493056,247,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,31,None,฿,THB,b'\x00'
3,4,Wang Burapha Phirom,13.745960,100.500085,331,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,3,16,None,฿,THB,b'\x00'
4,5,Wat Ratchabophit,13.749563,100.499382,71,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1,2,None,฿,THB,b'\x00'
5,6,Samran Rat,13.750811,100.503600,43,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,2,4,None,฿,THB,b'\x00'
6,7,San Chao Pho Sua,13.753598,100.496922,137,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,6,6,None,฿,THB,b'\x00'
7,8,Sao Chingcha,13.753790,100.500788,105,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,2,3,None,฿,THB,b'\x00'
8,9,Bowon Niwet,13.757022,100.501936,277,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,5,None,฿,THB,b'\x00'
9,10,Talat Yot,13.759628,100.497976,253,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,19,7,None,฿,THB,b'\x00'
10,11,Chana Songkhram,13.762607,100.495165,128,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,13,17,None,฿,THB,b'\x00'
11,12,Ban Phan Thom,13.762306,100.502194,99,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,10,2,None,฿,THB,b'\x00'
12,13,Bang Khun Phrom,13.765044,100.505005,121,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,3,6,None,฿,THB,b'\x00'
13,14,Wat Sam Phraya,13.768144,100.499382,78,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,4,11,None,฿,THB,b'\x00'
14,15,Dusit,13.775433,100.512738,1256,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',None,10,52,None,฿,THB,b'\x00'
15,16,Suan Chitlada,13.767984,100.519768,95,15.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,5,None,฿,THB,b'\x00'
16,17,Wachira Phayaban,13.777284,100.502897,137,15.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,7,None,฿,THB,b'\x00'
17,19,Si Yaek Maha Nak,13.758845,100.516253,72,15.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,2,2,None,฿,THB,b'\x00'
18,20,Thanon Nakhon Chai Si,13.786385,100.523987,777,15.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,2,15,None,฿,THB,b'\x00'
29,31,Maha Phruttharam,13.733456,100.520412,157,30.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,2,None,฿,THB,b'\x00'
30,32,Silom,13.724630,100.531018,1709,30.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,40,16,None,฿,THB,b'\x00'
31,33,Suriya Wong,13.726984,100.526096,754,30.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,35,6,None,฿,THB,b'\x00'
32,34,Bang Rak,13.726240,100.526799,782,30.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,6,14,None,฿,THB,b'\x00'
33,35,Si Phraya,13.729629,100.523498,191,30.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,8,6,None,฿,THB,b'\x00'
35,37,Anusawari,13.863043,100.602765,968,36.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,3,11,None,฿,THB,b'\x00'
36,38,Tha Raeng,13.861077,100.647812,1238,36.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1,13,None,฿,THB,b'\x00'
37,39,Bang Kapi,13.770088,100.636548,3401,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,31,33,None,฿,THB,b'\x00'
38,40,Khlong Chan,13.781520,100.636548,1392,39.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,12,15,None,฿,THB,b'\x00'
39,41,Hua Mak,13.758168,100.647812,1988,39.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,19,18,None,฿,THB,b'\x00'
41,43,Rong Muang,13.745117,100.519768,165,42.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,2,None,฿,THB,b'\x00'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48003,51041,The Twenty Six,13.725653,100.569196,5,157.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
48250,51293,CentralMarina,12.945585,100.890327,66,304.0,50,0,NaN,269.0,...,NaN,None,b'\x01',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
49035,52101,AIA capital center,13.764341,100.568035,14,130.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
49372,52444,Market Place Nanglinchee,13.710290,100.542370,21,66.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
49434,52507,LHONG 1919,13.734309,100.507638,11,36610.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
49454,52527,A ONE Ari,13.780864,100.543420,21,36724.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
49613,52692,Century The Movie Plaza,13.761593,100.537101,73,172.0,50,0,NaN,9681.0,...,NaN,None,b'\x01',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
49621,52700,CENTURY THE MOVIE PLAZA SUKHUMVIT,13.705856,100.601459,61,181.0,50,0,NaN,9681.0,...,NaN,None,b'\x01',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
50183,53274,Ease Park,13.856105,100.629253,9,38.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
50233,53327,Sam Yan Market,13.737048,100.524092,41,44.0,50,0,NaN,9681.0,...,NaN,None,b'\x01',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
50385,53484,one nimman,18.800010,98.967640,45,376.0,50,0,NaN,373.0,...,NaN,None,b'\x01',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
50554,53657,GMM Grammy Place,13.743523,100.562374,12,179.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
51399,54578,Arena10,13.732010,100.585650,15,180.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
51491,54673,Suanluang Square,13.742806,100.524753,37,44.0,50,0,NaN,9681.0,...,NaN,None,b'\x01',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
51913,55098,The Verona at Tub Lan,14.215726,101.900834,14,3842.0,50,0,NaN,3806.0,...,NaN,None,b'\x00',Asia/Bangkok,1,0,None,฿,THB,b'\x00'
51920,55116,แปซิฟิค พาร์ค ศรีราชา,13.167774,100.930921,45,357.0,50,0,NaN,269.0,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
51921,55119,CYBERWORLD TOWER,13.769747,100.573637,17,36590.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52414,55629,Robinson Prachin Buri,14.058747,101.395871,21,26846.0,50,0,NaN,48388.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52476,55691,โฮมโปร ศรีราชา,13.140797,100.987048,4,358.0,50,0,NaN,269.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52484,55700,โรบินสัน สมุทรปราการ,13.584417,100.609168,44,934.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'
52488,55706,Suan Phueng,13.603419,99.234220,1,5670.0,40,0,NaN,5639.0,...,NaN,None,b'\x00',None,1,0,None,฿,THB,b'\x00'
52491,55709,เทสโก้ โลตัส นครนายก,14.207585,101.217741,8,33902.0,50,0,NaN,48388.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52617,55838,Thung Maha Mek,13.719801,100.543675,5,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52621,55844,สุเทพ,18.793621,98.956024,455,374.0,40,0,NaN,373.0,...,NaN,None,b'\x00',None,32,18,None,฿,THB,b'\x00'
52629,55854,Wong Sawang,13.829155,100.526799,11,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52714,55956,Central Festival Hatyai,6.991892,100.482642,100,6641.0,50,0,NaN,6542.0,...,NaN,None,b'\x00',Asia/Bangkok,0,3,None,฿,THB,b'\x00'
52717,55959,Major Ekamai,13.721219,100.583244,30,158.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
52720,55962,Major Pinklao,13.778787,100.477895,59,127.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
52724,55966,Major Tower Thonglor,13.732481,100.582936,4,180.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,0,None,฿,THB,b'\x00'
52731,55975,The Market Bangkok,13.747750,100.541230,50,45.0,50,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,0,1,None,฿,THB,b'\x00'